# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.env
.env
venv/

# Django
*.sqlite3
db.sqlite3
*.log

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React build
wb-frontend/build/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Misc
*.swp
*.bak
*.tmp 